*{
    margin: 0;
    padding: 0;
}
header{
    background-color:rgb(60, 60, 189);
    width: 110vw;
}
.search{
    display: flex;
    align-items: center;
    justify-content: center;
}
.search input{
    width: 399px;
    height: 25px;
    border-radius: 5px;
    margin: 0 75px;
}
nav{
    display: flex;
    flex-direction: column;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo img{
    width: 150px;
    padding: 0 25px;
}
nav ul{
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;

}
nav ul li{
    list-style: none;
    padding: 0 23px;
}
nav ul li a{
    color: white;
    text-decoration: none;
}
nav ul li a:hover{
    /* color: rgb(222, 9, 9); */
    font-weight: bolder;
}
 .container{
    min-height: calc(100vh - 58px - 20vh);

} 
.slider{
    width: 65vw;
    margin: 30px 110px;

}
.card{
    max-width: 91vw;
    display: flex;
    overflow: scroll;
    margin: 50px 30px;

}
 .card-item{ 
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0px 32px 410px 15px;
    justify-content: flex-start;
} 
.lines{
    width: 45vw;
    margin: 23px -163px;
}
card-item:hover{
    transform: translateY(5px);
}
footer{
    height: 20vh;
    background-color:rgb(60, 60, 189);;
    color: white;
}