.flex-all-center{
    text-align: center;
    justify-content: center;
    align-items: center;
}
.btn{
    padding: 5px 10px;
    background-color: rgb(65, 65, 236);
    color: white;
    border: 2px solid white;
    border-radius: 7px;
    cursor: pointer;

}
.text-center{
    text-align: center;
}
.my-1{
    margin: 57px 11px;
}
.my-2{
    margin: 5px 0;
}